

#c{
    height: 400px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 30px;
}
#c1{
    height: 100%;
    width: 35%;
    /* border: 1px solid red; */
}
#c1>h1{
    font-size: 50px;
}
#c2{
    height: 100%;
    width: 65%;
    /* border: 1px solid red; */
}
#c2>div{
    /* height: 17%; */
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}




#y{
    height: 180px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: 30px;
}
#y1{
    height: 100%;
    width: 35%;
    /* border: 1px solid red; */
}
#y1>h1{
    font-size: 50px;
}

#y2{
    height: 100%;
    width: 65%;
    border: 1px solid grey;
    display: flex;
    border-radius: 5px;
}

#y21{
    height: 100%;
    width: 55%;
    /* border: 1px solid red; */
}
#y211{
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-end;
}
#y212{
    height: 40%;
    width: 100%;
    /* border: 1px solid red; */
}
#y213{
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
#y211>span{
 font-weight: bold;
 font-size: 20px;
 margin-left: 10px;
}
#y212>p{
    margin-left: 10px;
}
#y213>button{
    height: 80%;
    color: #10A310;
    border: 0px;
    background-color: white;
    margin-left: 20px;
}




#y22{
    height: 100%;
    width: 45%;
    /* border: 1px solid red; */
    display: flex;
}
#y221{
    height: 70%;
    width: 40%;
    /* border: 1px solid red; */
    margin: auto;
}
#y221>img{
    height: 100%;
    width: 100%;
}




#z{
    height: 180px;
    width: 100%;
    /* border: 1px solid red; */
    margin-bottom: 30px;
    display: flex;
    background-color: rgb(245, 239, 239);
}

#z1{
    height: 80%;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
   
}