* {
    cursor: pointer;
    /* transition: 2s;
    transform: X(100%); */
}

.user {
    display: flex;
    gap: 15px;
    font-weight: lighter;
    color: rgb(79, 75, 75);


}

#a {
    text-decoration: none;
    color: grey;
}

.user h4 {
    margin-top: -1px;
}

#sidebar {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 20px;
    width: 20%;
    height: 800px;
}

#green {
    color: rgb(40, 171, 40);
}